/* Frame 1321315737 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 22px;

position: absolute;
width: 544px;
height: 278px;
left: 512px;
top: 304px;

background: #FFFFFF;
/* light/shadow 3 */
box-shadow: 0px 0px 1px rgba(30, 32, 33, 0.24), 0px 20px 32px rgba(30, 32, 33, 0.32);
border-radius: 4px;


/* Frame 1321316647 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 544px;
height: 152px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Section area + Title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 544px;
height: 64px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 3238 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 16px 15px 24px;
gap: 12px;

width: 480px;
height: 63px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Детали по устройству */

width: 440px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
letter-spacing: -0.3px;

/* light / text */
color: #1E2021;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 3239 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 8px 0px 0px;

width: 64px;
height: 64px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px;

width: 56px;
height: 56px;

/* light / white */
background: #FFFFFF;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 3245 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* close */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

/* Whitesmoke/60 */
border: 1.8px solid #757677;


/* Vector */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

/* Whitesmoke/60 */
border: 1.8px solid #757677;


/* Frame 1321315722 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 24px;
gap: 16px;

width: 544px;
height: 88px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Наряды-допуски */

width: 496px;
height: 72px;

/* Body/M Regular */
font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
/* or 160% */

/* typo/primary */
color: #002033;

mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 672 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 24px;
gap: 16px;

width: 544px;
height: 104px;

/* Whitesmoke/05

Второстепенный цвет (после белого) для заливки форм требующих фокусировки внимания.
*/
background: #F8F8F8;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 24px;

width: 121px;
height: 56px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 73px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 24px;
/* identical to box height, or 141% */
display: flex;
align-items: center;
text-align: center;

/* light / text */
color: #1E2021;

mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
