/* Group 3803 */

width: 1386px;
height: 383px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 3332 */

position: absolute;
width: 1386px;
height: 383px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-radius: 16px;


/* Frame 1321316667 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 711px;
height: 304px;
left: 28px;
top: 38.88px;



/* Frame 1321316663 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 711px;
height: 304px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1321316669 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 423px;
height: 25px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Обновление устройства DTYU4656 */

width: 423px;
height: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 25px;
/* identical to box height, or 104% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1321316730 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 711px;
height: 255px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1321316701 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 711px;
height: 179px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1321316700 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 18px;

width: 711px;
height: 179px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Информация по прошивке */

width: 233px;
height: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* identical to box height, or 139% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1321316699 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 711px;
height: 136px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1321316696 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 242px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* text */

width: 128px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */
display: flex;
align-items: center;

/* typo/primary */
color: #002033;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* text */

width: 82px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */
display: flex;
align-items: center;

/* typo/primary */
color: #002033;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1321316697 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 233px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* text */

width: 128px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */
display: flex;
align-items: center;

/* typo/primary */
color: #002033;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* text */

width: 73px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */
display: flex;
align-items: center;

/* typo/primary */
color: #002033;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1321316698 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 711px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* text */

width: 128px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */
display: flex;
align-items: center;

/* typo/primary */
color: #002033;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* text */

width: 551px;
height: 40px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* or 20px */
display: flex;
align-items: center;

/* typo/primary */
color: #002033;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1321316699 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 595px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* text */

width: 128px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */
display: flex;
align-items: center;

/* typo/primary */
color: #002033;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* text */

width: 435px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */
display: flex;
align-items: center;

/* typo/primary */
color: #002033;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1321316760 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 85px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button / Desktop */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 9px 16px 11px 14px;
gap: 8px;

width: 85px;
height: 44px;

background: #4480F3;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 2px 0px 0px;

display: none;
width: 16px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 55px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 160% */
display: flex;
align-items: flex-end;
text-align: center;

color: #FFFFFF;

mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
