/* SuperMenu */

position: absolute;
width: 82px;
height: 960px;
left: 0px;
top: 0px;

background: #242E40;
border-radius: 0px 0px 10px 0px;


/* Ellipse 67 */

position: absolute;
width: 528px;
height: 528px;
left: -258px;
top: -315px;

background: radial-gradient(50% 50% at 50% 50%, #008C95 0%, rgba(36, 46, 64, 0) 100%);
opacity: 0.5;


/* Ellipse 68 */

position: absolute;
visibility: hidden;
width: 1032px;
height: 1032px;
left: -206px;
top: 571px;

background: radial-gradient(50% 50% at 50% 50%, #43CD72 0%, rgba(36, 46, 64, 0) 100%);


/* Group 1321314485 */

position: absolute;
visibility: hidden;
width: 107.5px;
height: 24px;
left: 36px;
top: 44px;



/* title */

position: absolute;
width: 90px;
height: 24px;
left: 36px;
top: 44px;

font-family: 'Lato';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
letter-spacing: 0.01em;

color: #FFFFFF;

mix-blend-mode: normal;


/* Vector 54 */

position: absolute;
width: 9px;
height: 4.5px;
left: 134.5px;
top: 56px;

border: 2px solid #43CD72;


/* Group 1321314484 */

position: absolute;
visibility: hidden;
width: 135px;
height: 50px;
left: 36px;
top: 89px;



/* 21°С */

position: absolute;
width: 46px;
height: 24px;
left: 108px;
top: 89px;

font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height */
letter-spacing: 0.01em;

color: #FFFFFF;



/* Понедельник 24 апреля */

position: absolute;
width: 63px;
height: 24px;
left: 108px;
top: 115px;

font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;

color: #B5BBC6;



/* image 60 */

position: absolute;
width: 56px;
height: 48px;
left: 36px;
top: 90px;

background: url(image.png);


/* apps */

position: absolute;
visibility: hidden;
width: 135px;
height: 301px;
left: 36px;
top: 179px;



/* Приложения */

position: absolute;
width: 88px;
height: 13px;
left: 36px;
top: 179px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 13px;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #B5BBC6;



/* Group 1321314477 */

position: absolute;
width: 56px;
height: 56px;
left: 36px;
top: 208px;



/* Rectangle 4834 */

position: absolute;
width: 56px;
height: 56px;
left: 36px;
top: 208px;

background: linear-gradient(135deg, rgba(0, 94, 200, 0.3) 0%, rgba(136, 224, 252, 0.3) 100%);
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), inset 0.5px 0.5px 0px rgba(255, 255, 255, 0.1);
border-radius: 16px;


/* image 61 */

position: absolute;
width: 30px;
height: 26px;
left: 48px;
top: 223px;

background: url(image.png);


/* Group 1321314478 */

position: absolute;
width: 56px;
height: 56px;
left: 36px;
top: 280px;



/* Rectangle 4836 */

position: absolute;
width: 56px;
height: 56px;
left: 36px;
top: 280px;

background: linear-gradient(225deg, rgba(255, 184, 0, 0.3) 0%, rgba(255, 0, 138, 0.3) 100%);
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), inset 0.5px 0.5px 0px rgba(255, 255, 255, 0.1);
border-radius: 16px;


/* image 63 */

position: absolute;
width: 31px;
height: 24px;
left: 49px;
top: 296px;

background: url(image.png);
mix-blend-mode: normal;


/* Group 1321314479 */

position: absolute;
width: 56px;
height: 56px;
left: 108px;
top: 280px;



/* Rectangle 4837 */

position: absolute;
width: 56px;
height: 56px;
left: 108px;
top: 280px;

background: linear-gradient(225deg, rgba(136, 224, 252, 0.3) 0%, rgba(0, 94, 200, 0.3) 100%);
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), inset 0.5px 0.5px 0px rgba(255, 255, 255, 0.1);
border-radius: 16px;


/* image 62 */

position: absolute;
width: 30px;
height: 26px;
left: 121px;
top: 296px;

background: url(image.png);


/* Group 1321314476 */

position: absolute;
width: 56px;
height: 56px;
left: 108px;
top: 208px;



/* Rectangle 4835 */

position: absolute;
width: 56px;
height: 56px;
left: 108px;
top: 208px;

background: linear-gradient(315deg, rgba(206, 227, 0, 0.3) 0%, rgba(89, 60, 168, 0.3) 100%);
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), inset 0.5px 0.5px 0px rgba(255, 255, 255, 0.1);
border-radius: 16px;


/* image 64 */

position: absolute;
width: 29px;
height: 30px;
left: 122px;
top: 221px;

background: url(image.png);


/* Group 1321314480 */

position: absolute;
width: 56px;
height: 56px;
left: 108px;
top: 352px;



/* Rectangle 4839 */

position: absolute;
width: 56px;
height: 56px;
left: 108px;
top: 352px;

background: linear-gradient(225deg, rgba(60, 195, 211, 0.3) 0%, rgba(227, 8, 20, 0.3) 100%);
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), inset 0.5px 0.5px 0px rgba(255, 255, 255, 0.1);
border-radius: 16px;


/* image 65 */

position: absolute;
width: 30px;
height: 34px;
left: 120px;
top: 364px;

background: url(image.png);
mix-blend-mode: normal;


/* Group 1321314483 */

position: absolute;
width: 56px;
height: 56px;
left: 36px;
top: 424px;



/* Rectangle 4840 */

position: absolute;
width: 56px;
height: 56px;
left: 36px;
top: 424px;

background: linear-gradient(225deg, rgba(255, 184, 0, 0.3) 0%, rgba(255, 0, 138, 0.3) 100%);
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), inset 0.5px 0.5px 0px rgba(255, 255, 255, 0.1);
border-radius: 16px;


/* image 67 */

position: absolute;
width: 31px;
height: 31px;
left: 49px;
top: 436px;

background: url(image.png);


/* Group 1321314482 */

position: absolute;
width: 54px;
height: 54px;
left: 109px;
top: 425px;



/* plus */

position: absolute;
width: 24px;
height: 24px;
left: 124px;
top: 440px;



/* Vector */

position: absolute;
left: 50%;
right: 50%;
top: 20.83%;
bottom: 20.83%;

border: 1.8px solid #5C6472;


/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 50%;
bottom: 50%;

border: 1.8px solid #5C6472;


/* Rectangle 4841 */

position: absolute;
width: 54px;
height: 54px;
left: 109px;
top: 425px;

opacity: 0.5;
border: 1.5px dashed #959BA4;
border-radius: 16px;


/* Group 1321314481 */

position: absolute;
width: 56px;
height: 56px;
left: 36px;
top: 352px;



/* Rectangle 4838 */

position: absolute;
width: 56px;
height: 56px;
left: 36px;
top: 352px;

background: linear-gradient(225deg, rgba(82, 255, 0, 0.3) 0%, rgba(250, 0, 255, 0.3) 100%);
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), inset 0.5px 0.5px 0px rgba(255, 255, 255, 0.1);
border-radius: 16px;


/* image 66 */

position: absolute;
width: 24px;
height: 31px;
left: 52px;
top: 366px;

background: url(image.png);


/* Frame 1816 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 3px 7px;
gap: 10px;

position: absolute;
width: 20px;
height: 20px;
left: 151px;
top: 200px;

background: #FD4774;
border-radius: 10px;


/* 1 */

width: 7px;
height: 14px;

font-family: 'Lato';
font-style: normal;
font-weight: 800;
font-size: 11px;
line-height: 14px;
/* identical to box height, or 127% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.01em;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
