QWidget#centralWidget {
  margin: 0px;
  padding: 0px;
  background: #F0EEEE;
  border-radius: 8px;
}

QWidget#mainTabs {
  border-radius: 0px 0px 10px 0px;
  background: #242E40;
  /* display: flex; */
  width: 82px;
  height: 960px;
  padding-bottom: 0px;
  /* flex-direction: column; */
  /* align-items: center; */
  /* flex-shrink: 0; */
  border-radius: 0px 10px 10px 0px;
}


IListObject {

  /* Auto layout */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
  padding: 0px;
  /* gap: 24px; */

  position: absolute;
  width: 1386px;
  height: 383px;
  left: 118px;
  top: 36px;
}

DeviceInfo {
  padding: 0px;
}

QPushButton#detailBtn {
  padding: 9px 16px 11px 14px;
  max-width: 85px;
  max-height: 44px;
  background: #4480F3;
  border-radius: 8px;
}

QScrollArea#scrollArea {
  background: transparent;
  border-radius: 8px;

}